.welcomeSign {
    color: white;
    flex-direction: column;
    margin-top: 50%;
    margin-left: 25%;
    font-weight: 700;
    font-size: 150%;
}

.userName {
    font-size: 190%;
    font-weight: 800;
}