.welcomeSign {
    color: white;
    margin-top: 20%;
    margin-left: 20%;
    font-weight: 400;
    font-size: 150%;
}

.userName {
    font-size: 190%;
    font-weight: 800;
    margin-top: -1%;
    margin-bottom: -1%;
}

.textAnimation {
    animation: textAnimation 1s ease-in-out 2.5s forwards;
}

@keyframes textAnimation {
    0% {
        font-size: 100%
    }
    50% {
        font-size: 120%;
    }
    100% {
        font-size: 100%;
    }
}
