.welcomeSign {
    color: white;
    font-weight: 1000;
    font-size: 170%;
    text-align: left
}

.userName {
    font-size: 170%;
    font-weight: 1000;
}

.textAnimation {
    animation: textAnimation 1s ease-in-out 2.5s forwards;
}

@keyframes textAnimation {
    0% {
        font-size: 100%
    }
    50% {
        font-size: 120%;
    }
    100% {
        font-size: 100%;
    }
}
