
.dateTime {
    color: white;
    flex-direction: column;
    text-align: left;
    padding-top: 25%;
    padding-left: 20%;
}

.date {
    font-size:200%;
    font-weight: 600;
    margin-bottom: 0%;
}
.time {
    color: white;
    font-size: 190%;
    font-weight: 600;
}
