
.dateTime {
    color: white;
    flex-direction: column;
    text-align: left;
}

.date {
    font-size:270%;
    font-weight: 1000;
    margin-bottom: 0%;
}
.time {
    color: white;
    font-size: 270%;
    font-weight: 1000;
}
