.message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    font-size: 100%;
    font-weight: 800;
    color: white;
    background-color: black;
    padding-bottom: 100%;
}
