.personal-color-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.personal-color-tone {
    font-size: 180%;
    font-weight: 1000;
    color: #ffffff;
    text-align: left;
}

.personal-color-message {
    color: #ffffff;
    font-size: 180%;
    font-weight: 1000;
    text-align: left;
}