.schedule-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #ffffff; /* 텍스트 색상을 흰색으로 설정 */
}

.schedule-box {
    border-radius: 10px; /* 둥근 테두리 */
    padding: 20px;
    text-align: center;
    background-color: #000000; /* 상자 배경색을 검정으로 설정 */
}

.schedule-box h2, .schedule-box h3 {
    margin: 10px 0;
}

.schedule-box ul {
    list-style-type: none; /* 기본 목록 스타일 제거 */
    padding-left: 0;
    text-align: left;
}

.schedule-box ul li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
}

.schedule-box ul li::before {
    content: '-'; /* 리스트 아이템 앞에 '-' 추가 */
    position: absolute;
    left: 0;
    color: #ffffff; /* '-'의 색상을 흰색으로 설정 */
}

.schedule-box .error {
    color: #ff0000; /* 에러 메시지 색상을 빨강으로 설정 */
}
