.weather {
    font-size: 180%;
    font-weight: 1000%;
    color: #ffffff;
}

.messageInfo {
    font-size: 100%;
    font-weight: 1000;  
}

.tempInfo {
    font-size: 130%;
    font-weight: 1000;
}

.weatherInfo {
    font-size: 130%;
    font-weight: 1000;
}

.cityInfo {
    font-size: 130%;
    font-weight: 1000;
    
}

.weatherIcon{
    color: white;
    font-size: 120px;
}
