.weather {
    font-size: 180%;
    font-weight: 1000%;
    color: #ffffff;
    text-align: right;
}

.messageInfo {
    font-size: 180%;
    font-weight: 1000;
    text-align: left;
}

.tempInfo {
    font-size: 180%;
    font-weight: 1000;
    text-align: left;
}

.weatherInfo {
    font-size: 180%;
    font-weight: 1000;
    text-align: left;
}

.cityInfo {
    font-size: 180%;
    font-weight: 1000;
    text-align: left;
    
}

.weatherIcon{
    color: white;
    font-size: 120px;
    float: left;
}
