.weather {
    font-size: 180%;
    color: white;
    padding-top: 0%;
    padding-left: 0%;
}

.messageInfo {
    font-size: 70%;
}

.tempInfo {
    font-size: 150%;
    font-weight: 500;
    margin-bottom: -5%;
}

.weatherInfo {
    font-size: 90%;
    font-weight: 500;
}

.cityInfo {
    font-size: 75%;
    font-weight: 800;
    
}

.weatherIcon{
    color: white;
    font-size: 120px;
    padding-left: 9%;
    margin-bottom: -8%;
    margin-left: -6%;
}
