<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <application
        android:enableOnBackInvokedCallback="true">

        <activity android:name=".Login.LoginActivity"/>
        <activity android:name=".Main.MainActivity"/>
        <activity android:name=".Main.Setting.ChangePassword.ChangePasswordActivity"/>
        <activity android:name=".Main.Setting.ChangeEmail.ChangeEmailActivity" />
        <activity android:name=".Main.Setting.ChangeName.ChangeNameActivity" />
        <activity android:name=".Main.SendMessage.SendMessageActivity"/>
        <activity android:name=".Main.Camera.CameraActivity"/>
        <activity android:name=".Main.Camera.CameraX.CameraXActivity"/>
        <activity android:name=".Main.Widgets.WidgetsActivity"/>
        <activity android:name=".Main.Calendar.CalendarActivity"/>
        <activity android:name=".Main.RegisterProduct.RegisterProductActivity"/>
        <activity android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>
</manifest>