.App {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr; /* 미러 1, 2, 3의 크기를 3:9:3 비율로 설정 */
  grid-template-rows: repeat(3, 1fr);
  gap: 0; /* 그리드 간격 제거 */
  height: 100vh;
  background-color: black;

}